<% layout('layouts/boilerplate') %> <% workouts.forEach(function(workout){ %>
<h1><%= workout.createdBy.name %></h1>
<p><%= workout.nome %></p>
<p><%= workout.tipo %></p>
<p><%= workout.duracao %></p>
<p><%= workout.grupoMuscular %></p>
<p><%= workout.preco %></p>
<% workout.lista_exercicios.forEach(function(exercicios){ %>
<h4><%= exercicios.exercicio.name %></h4>
<h4><%= exercicios.descricao %></h4>
<% }) %> <% }) %>
