<% layout('layouts/boilerplate')%>

<div class="text-center">
  <h4>Filtrar por Grupo Muscular:</h4>
  <div class="btn-group">
    <a href="/exercises" class="btn btn-primary active" aria-current="page"
      >Todos</a
    >
    <a href="/exercises?grupoMuscular=Peito" class="btn btn-primary">Peito</a>
    <a href="/exercises?grupoMuscular=Costas" class="btn btn-primary">Costas</a>
    <a href="/exercises?grupoMuscular=Gemeos" class="btn btn-primary">Gémeos</a>
    <a href="/exercises?grupoMuscular=Ombros" class="btn btn-primary">Ombros</a>
    <a href="/exercises?grupoMuscular=Bicep" class="btn btn-primary">Bicep</a>
    <a href="/exercises?grupoMuscular=Tricep" class="btn btn-primary">Tricep</a>
    <a href="/exercises?grupoMuscular=Quads" class="btn btn-primary">Quads</a>
    <a href="/exercises?grupoMuscular=Hamstrings" class="btn btn-primary"
      >Hamstrings</a
    >
    <a href="/exercises?grupoMuscular=Abs" class="btn btn-primary"
      >Abdominais</a
    >
  </div>
</div>

<div class="container">
  <br />
  <hr />
  <h1>All Exercises</h1>

  <% for (let exercise of exercises){%>

  <div class="card mt-20 mb-3">
    <div class="row">
      <div class="col-md-4">
        <%if(exercise.images.length) {%>
        <img class="img-fluid" alt="" src="<%=exercise.images[0].url%>" />
        <% }else {%>
        <img
          class="img-fluid"
          alt=""
          src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= exercise.name %></h5>
          <p class="card-text"><%= exercise.descricao %></p>

          <a class="btn btn-primary" href="/exercises/<%=exercise._id%>"
            >View <%=exercise.name%></a
          >
          <% if(currentUser && !currentUser.exercicios_favoritos.includes(
          exercise._id )) {%>
          <a class="btn btn-success" href="exercises/add/<%= exercise._id%>"
            >Add to Favorites</a
          >
          <% }else if(currentUser && currentUser.exercicios_favoritos.includes(
          exercise._id )){ %>
          <a class="btn btn-danger" href="exercises/remove/<%= exercise._id%>"
            >Remove from Favorites</a
          >
          <%} %>
        </div>
      </div>
    </div>
  </div>
  <% }%>
</div>
